extends ../layout
mixin historyAcc(listOfExperience)
    #accordion2.accordion
                .accordion-group
                  .accordion-heading
                    a.accordion-toggle.active(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                      i.icon-minus
                      |  Disease  History                  
                  #collapseThree.accordion-body.in.collapse(style='height: auto;')
                    .accordion-inner
                      .flex
                         each experience in listOfExperience
                            .alert(style="background-color:lightgray")
                                strong Title : 
                                span #{experience.proficiency.title}

block mainMenuTitle 
  h3.pageTitle Doctor
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
    .container
      .row
          div.form-group
          label(for='title') Title: 
          select#title(name='title' disabled)
            option(value='Mr') Mr
            option(value='Mrs') Mrs
            option(value='Miss') Miss
            if(doctor!==undefined)
              - var title = doctor.title;
          label(for='name') Full Name: 
          input#name.form-control.input-lg(type='text', placeholder='John Doe' name='name' value=(undefined===doctor ? '' : doctor.name ) style='min-width: 100%;' disabled )          
          label(for='age') Age: 
          input#age.form-control.input-lg(type='Number', placeholder='...' name='age' value=(undefined===doctor ? '' : doctor.age) disabled)
          if(experiences.length>0)
             +historyAcc(experiences)
          .actions  
            a.btn.btn-primary.pull-right(href='./create') Create New Doctor
            a.btn.btn-danger.pull-left(href='/doctor/delete/'+doctor._id ) Delete Doctor
            a.btn.btn-info.pull-left(href='./update/'+doctor._id style='margin-left: 20px;') Update Doctor