extends ../layout
block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
                      
    .container
      .row
        h1 #{title}
        form(method='POST' action= '' )
          div.form-group
            label(for='patient') Patient:
              select#patient.form-control(type='select', placeholder='Select Patient' name='patient' required='true' )
                for patient in patients
                    option(value=patient._id) #{patient.name}  
          div.form-group
            label(for='disease') Disease:
              select#disease.form-control(type='select', placeholder='Select Diseases' name='disease' required='true' )
                for disease in diseases
                    option(value=disease._id) #{disease.title}  
          div.form-group
            label(for='disease') Disease:
              select#disease.form-control(type='select', placeholder='Select Diseases' name='disease' required='true' )
                for disease in diseases
                    option(value=disease._id) #{disease.title}  
          button.btn.btn-primary.pull-right(type='submit') ADD