extends ../layout
block mainMenuTitle 
  h3.pageTitle Proficiency
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
    .container
      .row
        h1 #{title}
            div.form-group
            label(for='title') Title: 
            input#title.form-control.input-lg(type='text', placeholder='Physiology' name='title' value=(undefined===proficiency ? '' : proficiency.title ) style='min-width: 100%;' disabled )          
            .actions  
              a.btn.btn-primary.pull-right(href='./create') Create New Proficiency
              a.btn.btn-danger.pull-left(href='/proficiency/delete/'+proficiency._id ) Delete Proficiency
              a.btn.btn-info.pull-left(href='./update/'+proficiency._id style='margin-left: 20px;') Update Proficiency