extends ../layout
mixin historyAcc(listOfDis,listOfhistory)
    #accordion2.accordion
                .accordion-group
                  .accordion-heading
                    a.accordion-toggle.active(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                      i.icon-minus
                      |  Disease  History                  
                  #collapseThree.accordion-body.in.collapse(style='height: auto;')
                    .accordion-inner
                      .flex
                         each history in listOfhistory
                            .alert
                                a.close(title='delete Hitory', style='color: black;', href='../../patientHistory/delete/'+ history.id+'/'+patient._id) ×
                                strong Title : 
                                span #{history.disease.title}
                      a#replace(href='#')
                        i.icon-plus   add Disease  History 
                  script.
                    var disases = !{JSON.stringify(listOfDis)}
                    function fillSelect(){
                        disases.map((disase) => {
                             var x = document.createElement("OPTION");
                            x.setAttribute("value", `${disase._id}`);
                            x.setAttribute("name", `${disase.title}`);
                            var t = document.createTextNode(disase.title);
                            x.appendChild(t);
                            document.getElementById("disasesList").appendChild(x);
                        });
                        }
                    $(document).on("click" , "#replace", function(e){
                     const htmlForReplace = `<form action="../../patientHistory/create/#{patient._id}" method="POST" name ='history' id="history">
                              <table>
                                  <tr>
                                      <td>
                                          <span name='histoy1'>
                                              <select  class = "form-control input-lg"  name="disasesList" id="disasesList"> 
                                              </select>    
                                          </span>
                                      </td>
                                      <td>
                                          <div class="plus "> <button  class="icon-plus blue dropshadow plus"></button> </div>
                                          <div class="minus "> <button  class="icon-minus red dropshadow minus"></button> </div>
                                      </td>    
                                  </tr>
                              </table>
                              <input class="btn btn-primary pull-right" type="submit" value="BatchUpdate" name="submit">
                          </form>`;
                           $("#replace").replaceWith(htmlForReplace);
                            fillSelect();
                            e.preventDefault();
                        });
                        $(document).on("click", "button.plus", function(e){
                        const selectWraper = `<tbody>
                            <tr>
                                <td>
                                    <span name='histoy1'>
                                        <select name="disasesList" id="disasesList">
                                        ${
                                        disases.map((disase) => {
                                          return `<option name ='${disase.title}' value ='${disase._id}' >${disase.title}</option>`
                                        })
                                        }
                                        </select>
                                    </span>
                                </td>
                                <td>
                                    <div class="plus "> <button  class="icon-plus blue dropshadow plus"></button> </div>
                                    <div class="minus "> <button  class="icon-minus red dropshadow minus"></button> </div>
                                </td>    
                            </tr>
                        </tbody>
                        `;
                        
                        $("form#history table").append(selectWraper);
                        e.preventDefault();
                    });
                    $(document).on("click", "button.minus", function(){
                        $(this).closest("tbody").remove();
                    });
                       

block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
                      
    .container
      .row
        h1 #{title}
        form(method='POST' action= update==='true' ?  './'+patient._id  :'./create' )
          div.form-group
            label(for='title') Title: 
            select#title(name='title')
              option(value='Mr') Mr
              option(value='Mrs') Mrs
              option(value='Miss') Miss
              if(patient!==undefined)
                - var checked = patient.smoking;
                - var title = patient.title;
            label(for='name') Full Name: 
            input#name.form-control.input-lg(type='text', placeholder='John Doe' name='name' value=(undefined===patient ? '' : patient.name ) style='min-width: 100%;')          
            label(for='age') Age: 
            input#age.form-control.input-lg(type='Number', placeholder='...' name='age' value=(undefined===patient ? '' : patient.age))
            .pull-right
              input#smoke.form-check-input(type='checkbox', name='smoking', value="true" checked = (checked === true ? 'checked' : undefined) )
              |     Smoking 
          if(update)
             +historyAcc(diseases,historys)
          button.btn.btn-primary.pull-right(type='submit')=( (update==='true') ?  'Update' :'Submit')
        if(update==='true') 
          a.btn.btn-danger.pull-left(href='/patient/delete/'+patient._id ) Delete Patient 
          script  document.querySelector('#title').value='#{title}'