extends ../layout
block mainMenuTitle  
  h3.pageTitle Disease
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
    .container
      .row
        div.form-group
          label(for='name') Title:
          input#name.form-control.input-lg(type='text', placeholder='Cold ,Lichen Pluns etc' name='title' value=(undefined===disease ? '' : disease.title) style='min-width: 100%;' disabled)          
          label(for='name') Discription:
          - var value=(undefined===disease ? '' : disease.disc)
          textarea(name='disc', cols='30', rows='10', placeholder='Discription' style='min-width: 100%;' disabled)#disc.form-control= value
          a.btn.btn-primary.pull-right(href='./create') Create New Disease
          a.btn.btn-danger.pull-left(href='/disease/delete/'+disease._id ) Delete Disease
          a.btn.btn-info.pull-left(href='./update/'+disease._id style='margin-left: 20px;') Update Disease