extends ../layout
block mainMenuTitle 
  h3.pageTitle #{title}
block content
  section#contact.section
    if errors 
           .container
             .row
             for error in errors
                 .alert.alert-danger
                   button.close(type='button', data-dismiss='alert') ×
                   strong  
                        != error.msg
    .container
      .row
        h1 #{title}
        form(method='POST' action= update==='true' ?  './'+disease._id  :'./create' )
          div.form-group
            label(for='name') Title:
            input#name.form-control.input-lg(type='text', placeholder='Cold ,Lichen Pluns etc' name='title' value=(undefined===disease ? '' : disease.title) style='min-width: 100%;')          
            label(for='name') Discription:
            - var value=(undefined===disease ? '' : disease.disc )
            textarea(name='disc', cols='30', rows='10', placeholder='Discription' style='min-width: 100%;')#disc.form-control= value
          button.btn.btn-primary.pull-right(type='submit')=( (update==='true') ?  'Update' :'Submit')
          if(update==='true') 
            a.btn.btn-danger.pull-left(href='disease/delete/'+disease._id ) Delete Disease 