extends ../layout

block content
  section#services
    .container
      .row
        .span3
          .box.aligncenter
            .halftop
              h4
                strong Create 
              i.icon-plus.icon-4x
            p
              | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
            a.btn.btn-theme(href='/disease/create') Add
        .span3
          .box.aligncenter
            .halftop
              h4
                strong List
              i.icon-user.icon-4x
            p
              | Lorem ipsum dolor sit amet, eum no latine delectus deserunt diam
            a.btn.btn-theme(href='/disease/diseases') Manage